{% extends 'base.html.twig' %}

{% block title %}ArtistEntity index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Gérer les artistes</h1>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for artist_entity in artist_entities %}
                <tr>
                    <td>{{ artist_entity.id }}</td>
                    <td>{{ artist_entity.name }}</td>
                    <td>
                        <a href="{{ path('app_web_artist_show', {'id': artist_entity.id}) }}" class="btn btn-primary">Show</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_web_artist_edit', {'id': artist_entity.id}) }}" class="btn btn-info">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_web_artist_new') }}" class="btn btn-success">Create new</a>
    </div>
{% endblock %}
