{% extends 'base.html.twig' %}

{% block title %}TrackEntity index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Gerer les sons</h1>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for track_entity in track_entities %}
                <tr>
                    <td>{{ track_entity.id }}</td>
                    <td>{{ track_entity.title }}</td>
                    <td>{{ track_entity.duration }}</td>
                    <td class="actions">
                        <a href="{{ path('app_web_track_show', {'id': track_entity.id}) }}" class="btn btn-primary">Show</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_web_track_edit', {'id': track_entity.id}) }}" class="btn btn-info">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_web_track_new') }}" class="btn btn-success">Create new</a>
    </div>
{% endblock %}
